*{
    margin: 0;
    padding: 0;
}
header{
    background: #0000000e;
}
.cantaner{
    max-width: 140rem;
    padding: 4.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
    background: #070F2B;
}
ul {
    display: flex;
    gap: 3.2rem;
}